header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    font-family: "Bebas Neue", serif;
    letter-spacing: .065em;
}

header ul{
    display: flex;
    justify-content: center;
    gap: 6vw;
}

header ul li {
    list-style-type: none;
}


header ul li a{
    text-decoration: none;
    color: #333;
    font-size: 2vw;
    position: relative;
}

header ul li a:hover{
    color: black;
}

header ul li a::after{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    background: #1929C7;
    position: absolute;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

header ul li a:hover::after{
    width: 100%;
    left: 0;
}

.logoHeader{

}

.logoHeader img{
    width: 6vw;
    height: auto;
}
