body{
    overflow-x: hidden;
}

.mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*Slideshow*/
.slideshow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: slideshow 15s infinite;
}

@keyframes slideshow {
    0% { background-image: 
        url('../../assets/homePageAssets/SancImage1.jpeg'); 
    }
    33% { background-image: 
        url('../../assets/homePageAssets/SancImage2.jpeg'); 
    }
    66% { background-image: 
        url('../../assets/homePageAssets/SancImage3.jpeg'); 
    }
    100% { background-image: 
        url('../../assets/homePageAssets/SancImage1.jpeg'); 
    }
}

.slideshow{
    background-size: cover;
    background-position: center;
}


.mainTitle{
    display: flex;
    align-items: center;
}

.mainTitle h1{
    font-size: 12vw;
    color: white;
    margin: 0;
    font-family:"Bona Nova SC";
    margin-top: 5%;
    line-height: 1;
}

.mainButton{
    margin-top: 1%;
    margin-bottom: 5%;
}

.mainButton-Button{
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
    font-family: "Bona Nova SC";
    background-color: white;
    cursor: pointer;
    border: 2px solid white;
    border-radius: 5px;
}

.mainButton-Button:hover{
    background-color: #1929C7;
    border: 2px solid white;
    color: white;
}

.infoSection{
    background-color:#666666;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 5%;
    margin-top: 5%;
}

.meetingTime{
}

.meetingTime h3{
    font-size: 3.5vw;
    font-family: "Bona Nova SC";
    margin: 5%;
}

.meetingTime h5{
    font-size: 3vw;
    margin: 5%;
}

.meetingTime h6{
    font-size: 2vw;
    margin: 5%;
}

.meetingTime p{
    font-size: 1.5vw;
    margin: 0;
}

.meetingTime-button{
    margin-top: 10%;
    background-color: white;
    border: white 2px solid;
    border-radius: 5px;
    color: black;
    width: 15vw;
    height: 4vw;
    font-size: 1.5vw;
    cursor: pointer;
}

.meetingTime-button:hover{
    background-color: white;
    color: #1929C7;
}

.meetingPlace img{
    width: 40vw;
    height: auto;
}

.meetingPlace h5{
    font-size: 2vw;
    margin: 5%;
}

.sermonSection{
    background-color:lightcoral;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.sermon{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.sermonSection h2{
    color:white;
    font-size: 5vw;
    text-align: center;
}

.sermonSection h3{
    color:white;
    font-size: 2vw;
    text-align: center;
}

.sermonSection img{
    padding-top: 5%;
    padding-left: 25%;
    align-items: left;
    display: flex;
    width: 20vw;
    height: 5vw;
}

.sermonSection iframe{
    display: flex;  
    width: 45vw;
    height: 25vw;
    padding-bottom: 10%;
    margin-top: 5%;
}

.sermonSection-button{
    margin-top: 10%;
    background-color: white;
    border: white 2px solid;
    border-radius: 5px;
    color: lightcoral;
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
    cursor: pointer;
}

.sermonSection-button:hover{
    background-color: #ffffff;
    color: #1929C7;
}

.aboutSection{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #8eacff;
    margin-top: 5;

}

.aboutSection h2{
    font-size: 5vw;
    color: white;
    margin: 0;
    margin-top: 3%;
}

.aboutSection-info{
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 2vw;
    color: white;
}

.imageHolder{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}

.imageHolder img{
    width: 30%;
}

.aboutSection-info button{
    background-color: white;
    border: white 2px solid;
    border-radius: 5px;
    color: #8eacff;
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
    cursor: pointer;
}

.aboutSection-info button:hover{
    background-color: #ffffff;
    color: #1929C7;
}