.mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*Slideshow*/
.slideshow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: slideshow 15s infinite;
}

@keyframes slideshow {
    0% { background-image: 
        url('../../assets/homePageAssets/SancImage1.jpeg'); 
    }
    33% { background-image: 
        url('../../assets/homePageAssets/SancImage2.jpeg'); 
    }
    66% { background-image: 
        url('../../assets/homePageAssets/SancImage3.jpeg'); 
    }
    100% { background-image: 
        url('../../assets/homePageAssets/SancImage1.jpeg'); 
    }
}

.slideshow{
    background-size: cover;
    background-position: center;
}


.mainTitle{
    display: flex;
    align-items: center;
}

.mainTitle h1{
    font-size: 12vw;
    color: white;
    margin: 0;
}

.mainButton{
    margin-top: 1%;
    margin-bottom: 5%;
}

.mainButton-Button{
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
    background-color: white;
    cursor: pointer;
}

.mainButton-Button:hover{
    background-color: #1929C7;
    color: white;
}

.infoSection{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 5%;
}

.meetingTime{
}

.meetingTime h3{
    font-size: 4vw;
    margin: 5%;
}

.meetingTime h5{
    font-size: 3vw;
    margin: 5%;
}

.meetingTime h6{
    font-size: 2vw;
    margin: 5%;
}

.meetingTime p{
    font-size: 1.5vw;
    margin: 0;
}

.meetingTime-button{
    margin-top: 10%;
    background-color: #333;
    border: white 2px solid;
    color: white;
    width: 15vw;
    height: 4vw;
    font-size: 1.5vw;
    cursor: pointer;
}

.meetingTime-button:hover{
    background-color: white;
    color: #1929C7;
}

.meetingPlace img{
    width: 40vw;
    height: auto;
}

.meetingPlace h5{
    font-size: 2vw;
    margin: 5%;
}
