body{
    overflow-x: hidden;
}

.mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
}

/*Slideshow*/
.slideshow{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: slideshow 15s infinite;
}

@keyframes slideshow {
    0% { background-image: 
        url('../../assets/homePageAssets/SancImage1.jpeg'); 
    }
    33% { background-image: 
        url('../../assets/homePageAssets/SancImage2.jpeg'); 
    }
    66% { background-image: 
        url('../../assets/homePageAssets/SancImage3.jpeg'); 
    }
    100% { background-image: 
        url('../../assets/homePageAssets/SancImage1.jpeg'); 
    }
}

.slideshow{
    background-size: cover;
    background-position: center;
}

.mainTitle{
    display: flex;
    align-items: center;
}

.mainTitle h1{
    font-size: 12vw;
    color: white;
    margin: 0;
    font-family:"Bona Nova SC";
    margin-top: 5%;
    line-height: 1;
    -webkit-text-stroke: 2px #1929C7; 
    text-stroke: 3px #1929C7;
}

.mainButton{
    margin-top: 1%;
    margin-bottom: 5%;
}

.mainButton-Button{
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
    background-color: white;
    color: #1929C7;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-family: "Bebas Neue", serif;
}

.mainButton-Button:hover{
    background-color: #1929C7;
    border: 2px solid white;
    color: white;
}

.newInfoSection{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.newInfoSectionInfo{
    width: 80%;
    text-align: center; 
    margin-bottom: 2%; 
}

.newInfoSectionInfo h2{
    font-size: 3.5vw;
    font-family: "Bona Nova SC";
    margin: 0;
    text-decoration: underline;
    text-decoration-color: #1929C7;
    text-decoration-thickness: 2px;
    text-align: center;
}

.newInfoSectionInfo p{
    font-size: 1.5vw;
    font-family: "Lora";
    margin: 0;
    text-align: center;
}

.newInfoSectionImg{
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
}

.newInfoSectionImg img{
    border: solid 2px #1929C7;
    padding: 1%;
    width: 40vw;
}

.newInfoSectionButton{
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
    background-color: white;
    color: black;
    cursor: pointer;
    border: 2px solid #1929C7;
    border-radius: 5px;
    margin-top: 5%;
    font-family: "Bebas Neue", serif;
   
}

.newInfoSectionButton:hover{
    background-color: #1929C7;
    border: 2px solid white;
    color: white;
}

.newSundaySectionWrap{
    width: 100%;
    background-color: black;
}

.newSundaySection{
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    align-items: center;
    width: 90%;
    color: white;
}

.newSundaySectionInfo{
    width: 80%;
    text-align: center;
}

.newSundaySectionInfo h2{
    font-size: 3.5vw;
    font-family: "Bona Nova SC";
    margin: 0;
    text-decoration: underline;
    text-decoration-color: #1929C7;
    text-decoration-thickness: 2px;
}

.newSundaySectionInfo p{
    font-family: "Lora";
}

.newSundaySectionAddress{
    font-size: 2.5vw;
    margin: 0;
}


.newSundaySectionRegular{
    font-size: 1.5vw;
    margin: 0;
}

.newSundaySectionImg{
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.newSundaySectionImg img{
    border: solid 2px #1929C7;
    padding: 1%;
    width: 40vw;
}

.newSundaySectionButton{
    width: 15vw;
    height: 4vw;
    font-size: 2vw;
    background-color: black;
    color: white;
    cursor: pointer;
    border: 2px solid #1929C7;
    border-radius: 5px;
    margin-top: 5%;
    font-family: "Bebas Neue", serif;
}

.newSundaySectionButton:hover{
    background-color: white;
    border: 2px solid #1929C7;
    color: black;
}

.newCardsSection{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    align-items: stretch;
}

.newCardsLeftMiddle{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.395),rgba(0, 0, 255, 0.378)),
     url("../../assets/homePageAssets/Youth.jpg");
    background-position: center;
    flex: 1;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5vw;
    font-family: "Bona Nova SC";
    background-size: cover;

}

.newCardsLeftMiddle:hover{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), 
    url("../../assets/homePageAssets/Youth.jpg");
    cursor: pointer;
}

.newCardsRightTop{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.395),rgba(0, 0, 255, 0.378)),
     url("../../assets/homePageAssets/connect.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5vw;
    font-family: "Bona Nova SC";
    background-size: cover;
    flex: 1;
    text-decoration: none;
}

.newCardsRightTop:hover{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), 
    url("../../assets/homePageAssets/connect.jpg");
    cursor: pointer;
}

.newCardsRightBottom{
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.395),rgba(0, 0, 255, 0.378)),
     url("../../assets/homePageAssets/give.jpg");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5vw;
    font-family: "Bona Nova SC";
    background-size: cover;
    flex: 1;
    margin-top:2%;
    text-decoration: none;
}

.newCardsRightBottom:hover{
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), 
    url("../../assets/homePageAssets/give.jpg");
    cursor: pointer;
}

.newCardsSection{
    padding-top: 5%;
    padding-bottom: 5%;
}

.newCardsLeft{
    padding-right: 1%;
    display: flex;
    flex: 1;
    text-decoration: none;
}

.newCardsRight{
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.newSermonSection{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 90vh;
}

.newSermonLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    height: 100%;
}

.newSermonLeft::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/homePageAssets/youtube.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.3; 
    z-index: 0; 
}

.newSermonLeftText{
    font-size: 3vw;
    color: white;
    font-family: "Bona Nova SC";
    text-align: center;
    -webkit-text-stroke: 1px #1929C7; 
    text-stroke: 1px #1929C7;
}

.newSermonRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.mainVideo{
    width: 100%;
}

.mainSermonVideo{
    width: 100%;
    height: 50vh;
}

.videoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 1%;
}

.videoContainer div{
    width: 33%;
}

.sermonVideo{
    width: 100%;
    height: 20vh;
}

.missionsTripContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    height: 90vh;
}

.missionsTripLeft{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sliderContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    width: 100%;
}

.prevButton, .nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.prevButton {
    left: 40px;
}

.nextButton {
    right: 40px;
}

.prevButton:hover, .nextButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.sliderContainer img{
    width: 90%;
    height: auto;
    border-radius: 10px;
}

.missionsTripRight{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    text-align: center;
    position: relative;
}

.missionsTripRight h2{
    font-size: 4vw;
    color:black;
    font-family: "Bona Nova SC";
    text-align: center;
    margin: 0;
    text-decoration: underline;
    text-decoration-color: #1929C7;
    text-decoration-thickness: 2px;
}

.missionsTripRight p{
    font-size: 1.5vw;
    font-family: "Lora";
}

.missionsTripRight img{
    width: 25vw;
    
}

.newMissionsTripContainer{
    width: 100%;
}