body{
 height: 100%;
}
.parentContainer{
    height: 100%;
    overflow: auto;
}
.main{
    width: 100%;
    height: 100%;
    z-index: -1;
}
video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.mainContent{
    background-color: white;
    opacity: 75%;
    top:18%;
    position:absolute;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 60%;
    height: 115%;
    border-style: ridge;
    left: 20%;
    overflow-y: auto;
    overflow-x: hidden;
}
.mainContent p{
    text-align: center;
    font-size: 1.75vw;
}
.mainContent h1{
    font-size: 4vw;
    font-family:"Bona Nova SC";
}
.mainContent h2{
    font-size: 2.5vw;
    color: #1929c7;
    font-family: "Bebas Neue", serif;
    letter-spacing: 0.07em;
}
