
.youthPage{
    height: 100%;
    background-color: white;

}
.youthHeader{
    background-image: url('../../assets/youthAssets/youthBanner4.jpg');
    background-size: cover;
    background-position: center;
    height:40vh;
    width:100%;
    display: flex; 
    justify-content: center; 
    align-items: center;

}
.youthMainText {
    position: relative; 
    z-index: 1; 
    text-align: center;
    color: rgb(10, 51, 198);
    font-size: 9vw;
    margin: 0;
    font-family: "Bona Nova SC";
    -webkit-text-stroke: 2px #ffffff; 
    text-stroke: 3px #ffffff;

}
.youthInfo {
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    width: 90%;
    margin: auto;
    gap: 2rem; 
}

.youthInfo img {
    width: 45vw; 
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.youthInfo p{
    text-align: center; 
    font-size: 2vw;
    color: rgb(37, 23, 193);
    font-family: "Bebas Neue", serif;
    line-height: 1.8; 
}
.youthInfo2{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    width: 90%;
    margin: auto;
    gap: 2rem; 
    padding-bottom: 5%;
}
.youthInfo2 p{
    text-align: center; 
    font-size: 2vw;
    color: rgb(37, 23, 193);
    font-family: "Bebas Neue", serif;
    
}
.youthInfo2 iframe {
    width: 40%;
    height: 30vh;
    border: #1929C7 4px solid; 
    margin-left: 10%;
  }
  
  @media (max-width: 768px) {
    iframe {
      height: 60vh;
    }
  }

.pdf-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%;
    margin: auto;
    gap: 3rem;
}
.pdf-container h2 {
    margin-bottom: 1rem; 
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
    font-family: "Bona Nova Sc";
    padding-bottom: 5%;
    text-decoration: underline;
    text-decoration-color: #1929C7;
}
.pdfs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 3rem;
    width: 100%;
}

.pdf-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
    text-align: center;
    padding-top: 5%;
    
}
.pdf-container iframe {
    width: 100%;
    height: 30vh;
    border: #1929C7 4px solid; 
  }
  
  @media (max-width: 768px) {
    iframe {
      height: 60vh;
    }
  }
  .newButtons{
    display: flex;
    justify-content: space-around;
    font-size: 20px; 
    border: 2px solid blue;
    text-align: center;
    width: 10vw;
    background-color: white;
    font-family: "Bebas Neue", serif;
    margin-top: 15%;
    margin-bottom: 30%;
    cursor: pointer;
}

.slider {
    width: 100%; 
    height: auto; 
    overflow: hidden; 
    margin-top: 2%; 
    
}

.slide-track{
    display: flex;
    width: calc(15vw * 18);
    animation: scroll 40s linear infinite;
}

@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px *9));
    }
}
.slide{
    height: auto;
    width: 30%;
    display: flex;
    align-items: center;
    padding: .3%;

}
.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3 ease;
}

.slide img:hover{
transform: scale(1.05);
}



