
.trailLifePage{
    height: 100%;
    background-color: white;

}
.trailLifeMainText{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(10, 51, 198);
    font-size: 5vw;
    text-shadow: white 5px 5px 5px;
    margin: 0;
    padding-top: 3%;
    font-family: "Bona Nova SC";
}

 

.trailLifeContainer{
    color: black;
    display: flex;
    flex-direction: column;

}
.trailLifeContainer h2{
    display: flex;
  
    
}
.Top-section{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    text-align: left;
    margin-top: 4%;

}
.info{
    width: 70%;
    font-size: 120%;
    padding-left: 5%;
    color: rgb(37, 23, 193);
    margin: auto;
}

.info p{
    font-size: 2.5vw;
    margin: 0;
}
.Middle-section{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.Middle-section h2{

    font-size: 5vw;
    font-family: "Bona Nova Sc";
    color: rgb(37, 23, 193);
}
.Bottom-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Bottom-section nav h2{
font-size: 5vw;
font-family: "Bona Nova Sc";
}
.infoContainer{
    display: flex;
    flex-direction: row;
    color: green;
}
.infoPara{
    display: flex;
 text-align: center;

}
.infoSecPara{
    text-align: center;
}
.trailLifeContainer img{
    display: flex;
    height: 30vw;
    width: 30vw;
   

}
.infoAhg{
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 30vw;
    color: green;
}

.slider{
    height: 300px;
    margin: auto;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px *9));
    }
}
.slide{
    height: auto;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;

}


.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3 ease;
}

.slide img:hover{
transform: scale(1.05);
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position:absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.Youth-buttons{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.Youth-buttons h2{
    text-align: center;
}
.Button-Container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Youth-buttons button  {
  
    font-size: 30px; 
    justify-content: center;
    box-shadow: blue 10px 10px 10px;
    margin: 10%;
    text-align: center;
}

.start-bouncing{
    animation: bounce 1s ease-in 1;
}

@keyframes bounce{

    0% { transform: scale(1); }
    30%  {transform: scale(1.1); }
    50%  {transform: scale(0.9); }
    70%  {transform: scale(1.05); }
    100%  {transform: scale(1); }
}
.bouncy-button:active{
    animation: bounce 0.3s ease;
}

