.give-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    position: relative;
    margin:0;
    z-index: 1;
    padding-bottom: 2%;
}
.give-header h1{
    -webkit-text-stroke: 2px #1929C7; 
    text-stroke: 3px #1929C7;
    font-family:"Bona Nova SC";
    color: rgb(255, 255, 255);
    font-size: 8vw;
}

.donate-button{
    background-color: #192ac7b2;
    color: white;
    font-size: 3vw;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Bebas Neue", serif;
    letter-spacing: .065em;
}

.donate-button:hover{
    background-color: #192ac7b2;
    color: white;
}


.give-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    width: 100%;
    margin-top:5%;
    margin-bottom: 5%;
    font-family: "Bebas Neue", serif;
    letter-spacing: .065em;

}
.give-container p{
    font-size: 1.3vw;
}
.vidGive{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}

.give-container h1{
    font-size: 3.5vw;
    font-family: "Bona Nova SC";
    margin: 0;
    text-decoration: underline;
    text-decoration-color: #1929C7;
    text-decoration-thickness: 2px;
}

.give-left-box{
    text-align: center;
    padding-left: 5%;
    margin-right: 5%;
    flex:1;
}
.give-right-box  p{
    padding-bottom: 5%;
}
.give-left-box p{
    padding-bottom: 5%;
}
.give-right-box{
    text-align: center;
    padding-right: 5%;
    margin-left: 5%;
    flex:1;
}
