
.trailLifePage{
    height: 100%;
    background-color: grey;

}
.trailLifeMainText{
    display: flex;
    justify-content: center;
    text-align: center;
    color: blue;
    font-size: 50px;
    text-shadow: 2px 2px 4px white;
}
.trailLifeSubtext{
    color: blue;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;
    align-items: center;
    width: 70%;
    
}

.trailLifeContainer{
    color: black;
    display: flex;
    flex-direction: column;

}
.trailLifeContainer h2{
    display: flex;
  
    
}

.infoContainer{
    display: flex;
    flex-direction: row;
    color: blue;
    
}
.infoPara{
    display: flex;
 text-align: center;

}
.infoSecPara{
    text-align: center;
}
.trailLifeContainer img{
    display: flex;
    height: 30vw;
    width: 30vw;
   

}
.infoAhg{
    text-align: center;
    display: flex;
    flex-direction: row;
    height: 30vw;
    color: green;
}

..slider {
    position: relative; 
    width: 100%;
    margin-top: 50px; 
    margin-bottom: 50px; 
    z-index: 1000;
}

.slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px *9));
    }
}
.slide{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding-bottom: 200px;
    perspective: 100px;
}

img{
    width: 100%;
    transition: transform 1%;
}

img:hover{
transform: rotateZ(20px);
}

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position:absolute;
    width: 15%;
    z-index: 0;
}

.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
    
}

.buttons button{
    padding: 10px 20px;
    border:none;
    cursor: pointer;
    width: 50%;
    height: 50%;
}
.Top-section{

    display: flex;
    flex-direction: row-reverse;

}

.logo{
    margin-left: 5%;
    margin-right: 5%;
}
.info{
    color: blue;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    
}