.staffHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40vw;
    position: relative;
    margin:0;
}
.heartvid{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
}
.staffHeader h1{
    font-family:"Bona Nova SC";
    color: rgb(255, 255, 255);
    font-size: 10vw;
    z-index: 1;
}
.mainStaffContent {
    background-image: url('../../assets/staffBottomImg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    height: 300vh;
    justify-content: flex-start; 
    padding-top: 5%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5%;
    padding-top: 5%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15vw; 
    margin-bottom: 2%;
    border: solid 1px black;
    border-radius: 5px;
    cursor: pointer;
    margin: 3%;
    box-shadow: 0 4px 8px grey, 
                0 6px 20px grey; 
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: visible; /* Allows the glow to be visible outside */
    z-index: 1;
}

.card::after, .card::before {
    content: "";
    position: absolute;
    inset: -15px; /* Moves the glow outside the card */
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    background-image: conic-gradient(from 0deg, #006aff, transparent);
    transform: rotate(0deg);
    z-index: -2; /* Moves glow behind the card */
    border-radius: 15px;
    animation: spin 3s linear infinite;
}

.card::before {
    filter: blur(2rem);
    opacity: 0.8;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card img {
    width: 13vw;
    height: 30vh;
    z-index: 2;
    position: relative;
}


.card h2{
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.toggleBox{
    margin: 0;
    padding: 0;
}

.toggleBox p {
    margin: 0;
    font-size: 3vw;
    font-weight: bold;
    margin-top: 0;
}

.cardContent {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cardContent.show {
    max-height: 500px; 
    opacity: 1;
}
